<?xml version="1.0"?>
<ruleset name="Roave DocbookTool coding standard">
    <arg value="p"/>
    <arg value="s"/>
    <arg name="colors"/>

    <file>bin</file>
    <file>src</file>
    <file>test/integration</file>

    <rule ref="Doctrine">
        <exclude name="Generic.Files.LineLength.TooLong" />

        <!-- These are excluded because doctrine/coding-standard doesn't work with promoted constructor properties yet -->
        <exclude name="Generic.WhiteSpace.ScopeIndent.IncorrectExact" />
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingTraversableTypeHintSpecification" />
    </rule>

</ruleset>
